@font-face {
    font-family: 'montserrat light';
    src: local('Montserrat Light'), local('Montserrat-Light'),
    url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat-Light.ttf') format('truetype'),
    url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat medium';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype'),
    url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat light italic';
    src: url('../fonts/Montserrat-LightItalic.eot');
    src: url('../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-LightItalic.woff') format('woff'),
    url('../fonts/Montserrat-LightItalic.ttf') format('truetype'),
    url('../fonts/Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat bold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype'),
    url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Caveat';
    src: local('Caveat Regular'), local('Caveat-Regular'),
    url('../fonts/Caveatregular.woff2') format('woff2'),
    url('../fonts/Caveatregular.woff') format('woff'),
    url('../fonts/Caveatregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Caveat';
    src: local('Caveat Bold'), local('Caveat-Bold'),
    url('../fonts/Caveatbold.woff2') format('woff2'),
    url('../fonts/Caveatbold.woff') format('woff'),
    url('../fonts/Caveatbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
.lightItalic {
    font-family: 'Montserrat light italic', serif;
}
body {
    font-size: 16px;
    font-family: 'montserrat medium', serif;
    background: url('../img/body_bg.jpg') repeat;
}
a {
    color: #0ebbb2;
}
header.main-header {
    min-height: 85px;
    background: #fff;
    padding: 5px 0;
    font-family: 'montserrat light', serif;
}
header.main-header p {
    margin: 0;
}
header.main-header .nav-logo {
    margin-right: 20px;
    display: inline-block;
}
header.main-header .slogan {
    font-size: 20px;
    color: #5d7574;
    line-height: 1.3;
    margin-top: 5px;
}
header.main-header nav .nav li {
    display: block;
    padding: .5rem 1rem;
}
header.main-header nav .nav li a {
    font-size: 14px;
    color: #363737;
    position: relative;
    padding-bottom: 10px;
}
header.main-header nav .nav li.active a,
header.main-header nav .nav li a:hover {
    text-decoration: none;
    border-bottom: 2px solid #0ebbb2;
}
header.main-header .phone a {
    color: #5d7574;
    font-size: 30px;
    font-family: 'montserrat medium', serif;
    text-transform: uppercase;
}
header.main-header .phone a:hover {
    text-decoration: none;
}
header.main-header .phone .btn-feedback {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 10px;
    display: block;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: rgb(14, 187, 178);
}
header.main-header .badge {
    background: #0ebbb2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.main-page-slider {
    position: relative;
}
.main-slider .item img {
    width: 100%;
}
.box-shadow {
    -webkit-box-shadow: 2px 5px 12px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    2px 5px 12px 0 rgba(50, 50, 50, 0.2);
    box-shadow:         2px 5px 12px 0 rgba(50, 50, 50, 0.2);
}
.advantages {
    background: #fff;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 2px 5px 12px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    2px 5px 12px 0 rgba(50, 50, 50, 0.2);
    box-shadow:         2px 5px 12px 0 rgba(50, 50, 50, 0.2);
}
.advantages .one-item hr {
    width: 70px;
    height: 4px;
    background-color: #0ebbb2;
    margin: 40px auto 30px;
}
.advantages .one-item p {
    text-transform: uppercase;
}
.catalog {
    padding: 10px 0;
}
.catalog .product {
    background: #fff;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.31);
    margin: 0 10px;
    padding-bottom: 10px;
}
.catalog-items .product {
    margin: 0;
    margin-bottom: 30px;
}
.catalog .product .product-img {
    margin-bottom: 30px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 98%);
}
.catalog .product .product-name {
    text-transform: uppercase;
    font-size: 16px;
    color: #4f4f4f;
    padding: 0 10px;
    display: inline-block;
    height: 48px;
}
.catalog .product hr {
    width: 70px;
    height: 4px;
    background: #0ebbb2;
    margin: 15px auto 20px auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.catalog .product .product-discount,
.catalog .product .product-qty {
    text-align: center;
    font-size: 36px;
    color: #0ebbb2;
}
.catalog .product .product-price,
.table-price .product-price,
.total-block .product-price {
    font-size: 36px;
    color: #0ebbb2;
    position: relative;
    float: left;
    padding: 0 10px;
}
.cart-block .product-price {
    font-size: 28px;
    color: #0ebbb2;
    position: relative;
    float: left;
}
.cart-block .product-price span {
    font-size: 18px;
    color: #4f4f4f;
}
.table-price .product-price {
    width: 100%;
}
.cart-block .fa-close {
    color: #c98888;
    font-size: 30px;
}
.catalog .product .product-price:after,
.table-price .product-price:after,
.cart-block .product-price:after,
.total-block .product-price:after {
    content: '';
    display: block;
    background: url('../img/cur.png') no-repeat;
    width: 27px;
    height: 29px;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}
.catalog .owl-catalog p {
    text-align: left;
    padding: 0 15px;
    line-height: 1.1;
    word-break: break-all;
}
.btn-more {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.31);
    margin-bottom: -20px;
    padding: 15px 40px;
    background: #0ebbb2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-more:hover {
    color: #fff;
}
.catalog .owl-item {
    padding-bottom: 30px;
}
.catalog .btn-more {
    padding: 7px 30px;
}
.intro-text {
    background: #fff;
    -webkit-box-shadow: 2px 5px 12px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    2px 5px 12px 0 rgba(50, 50, 50, 0.2);
    box-shadow:         2px 5px 12px 0 rgba(50, 50, 50, 0.2);
}
.intro-text h1 {
    font-size: 30px;
    color: #4f4f4f;
    position: relative;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.intro-text h1:after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background: #0ebbb2;
    margin: 20px auto 35px;
}
footer.main-footer {
    padding: 25px 0 35px 0;
}
footer.main-footer .nav-link {
    padding: 10px 0;
    font-size: 16px;
    color: #4f4f4f;
    text-decoration: none;
}
footer.main-footer h3 {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 3px solid #bcbcbb;
    font-size: 20px;
    color: #0ebbb2;
}
footer.main-footer .mt-6 {
    margin-top: 1.6rem !important;
}
footer.main-footer i {
    color: #bcbcbb;
}

/* Inner pages */
.background-white {
    background: #fff;
}
.main-content p {
    line-height: 1.3em;
    font-size: 15px;
}
.main-content h2,
.main-content h3 {
    font-size: 30px;
    color: #4f4f4f;
    text-transform: uppercase;
    text-align: center;
}
.main-content h2:after,
.main-content h3:after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background: #0ebbb2;
    margin: 20px auto 35px;
}
.main-content h3 {
    font-size: 20px;
}
.main-content h3:after {
    margin: 15px auto 25px;
}
.direction-block img {
    margin-bottom: 40px;
}
.direction-block .content {
    text-align: justify;
    line-height: 1em;
    height: 208px;
    overflow: hidden;
}
.btn-go-to-catalog {
    margin: 50px 0 0 0;
}
.btn-go-to-catalog  .btn-more {
    padding: 7px 35px;
}
.facts .media .media-body {
    line-height: 1.2em;
    text-align: left;
    height: 200px;
    margin-bottom: 50px;
    overflow: hidden;
}
.facts .media span {
    font-size: 100px;
    width: 90px;
    color: rgb(14, 187, 178);
    text-transform: uppercase;
    line-height: 0.8;
}
ol.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding-left: 0;
}
.breadcrumb-item a {
    color: #4f4f4f;
}
.breadcrumb-item {
    font-size: 12px;
    color: #4f4f4f;
}
.breadcrumb-item.active {
    color: #0ebbb2;
    font-size: 12px;
}
.page-description {
    margin-top: 40px;
}
.page-description .btn-more {
    margin-top: 20px;
}
.shipment-description {
    margin-top: 40px;
}
.shipment-description .btn-more {
    margin-top: 75px;
    margin-right: 20px;
    width: 230px;
    padding: 9px 15px;
}
.contacts {
    margin-top: 60px;
}
.contacts h2,
.news h2,
.sorting-row h2,
.product-info h2,
.why-we h2 {
    text-align: left;
}
.contacts h2:after,
.news h2:after,
.sorting-row h2:after,
.why-we h2:after {
    margin: 20px 0 35px;
}
.product-info h2:after {
    margin: 20px 0 25px;
}
.contacts .form-control,
.modal-content .form-control,
.feedback .form-control {
    background-color: rgb(236, 236, 235);
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.27);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 15px;
    color: #4f4f4f;
}
.contacts .btn-more,
.modal-content .btn-more,
.feedback .btn-more {
    width: 230px;
    padding: 9px 15px;
}
.news img,
.contacts .map,
.product-block img,
.galery-thumb img {
    margin-bottom: 20px;
    border: 2px solid #fff;
    -webkit-box-shadow: 2px 5px 12px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    2px 5px 12px 0 rgba(50, 50, 50, 0.1);
    box-shadow:         2px 5px 12px 0 rgba(50, 50, 50, 0.1);
}
.galery-thumb {
    overflow: hidden;
    position: relative;
    margin: 0 10px;
    height: 175px;
}
.galery-thumb img {
    max-width: 100%;
    height: 175px;
}
.add-text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0,0,0,.5);
    transition: 0.5s;
    opacity: 0;
    transform: translateY(100%);
    color: #fff;
    width: 100%;
    height: 100%;
}
.add-text > div {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    text-align: center;
    font-size: 14px;
}
.add-text p {
    line-height: 1.1em;
}
.add-text .btn-more {
    padding: 7px 30px;
}
.galery-thumb:hover .add-text {
    opacity: 1;
    transform: translateY(0%);
}
.add-text h5:after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background: #0ebbb2;
    margin: 5px auto 5px;
}
.catalog.reviews .product .product-name {
    font-size: 12px;
    color: #4f4f4f;
    text-align: left;
    display: inherit;
    text-transform: capitalize;
    padding-left: 20px;
}
.catalog.reviews .product hr {
    margin: 15px 0 20px 20px;
}
.catalog.reviews .product p {
    padding-left: 20px;
    text-align: left;
    line-height: 1.1em;
    font-size: 12px;
}
.catalog.reviews .product  img {
    border: 2px solid #fff;
    -webkit-box-shadow: 2px 5px 12px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    2px 5px 12px 0 rgba(50, 50, 50, 0.1);
    box-shadow:         2px 5px 12px 0 rgba(50, 50, 50, 0.1);
    margin-bottom: 15px;
}
.feedback p {
    font-size: 12px;
    text-align: center;
}
.owl-catalog div {
    margin: 5px 0;
}
.owl-catalog .owl-nav {
    display: none;
}
.owl-catalog .owl-dots {
    display: none;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 10px auto;
    width: 370px;
    display: block;
    height: 12px;
    outline: 0;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 50%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: #e6e6e6;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 70px;
    border-radius: 3%;
    background: #0ebbb2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0ebbb2;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.27);
    background: #e6e6e6;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.27);
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #0ebbb2;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #ac51b5;
    border: 0px solid #000101;
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.27);
}
input[type=range]::-ms-fill-upper {
    background: #fff;
    border: 0px solid #000101;
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.27);
}
input[type=range]::-ms-thumb {
    box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.27);
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
    background: #fff;
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    color: #0ebbb2;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid #ededed;
}
.sidebar-menu > li:last-child > a {
    border: none;
}
.sidebar-menu > li > a:hover {
    text-decoration: none;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
    width: 20px;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-right: 5px;
}
.sidebar-menu > li .badge {
    margin-top: 3px;
}
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}
.sidebar-menu li > a > .fa-angle-left,
.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 3px;
    margin-top: 4px;
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    color: #000;
}
.sidebar-menu li > a > .fa-angle-left {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
}
.sidebar-menu .menu-open > a > .fa-angle-left,
.sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sidebar-menu .active > .treeview-menu {
    display: block;
}
.treeview-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0 0 20px 5px;
    border-bottom: 2px solid #ededed;
}
.treeview-menu .treeview-menu {
    padding-left: 20px;
}
.treeview-menu > li {
    margin: 0;
}
.treeview-menu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 12px;
    color: #4f4f4f;
}
.treeview.menu-open > a {
    background: #ededed;
}
.treeview-menu > li > a:hover,
.treeview-menu > li.active-child > a {
    color: #0ebbb2;
    text-decoration: none;
}
.treeview-menu > li > a > .fa,
.treeview-menu > li > a > .glyphicon,
.treeview-menu > li > a > .ion {
    width: 20px;
}
.treeview-menu > li > a > .pull-right-container > .fa-angle-left,
.treeview-menu > li > a > .pull-right-container > .fa-angle-down,
.treeview-menu > li > a > .fa-angle-left,
.treeview-menu > li > a > .fa-angle-down {
    width: auto;
}
.sorting-row {
    padding: 70px 0 80px 0;
    position: relative;
}
.sorting-row:after {
    content: '';
    height: 3px;
    background: #c7c7c7;
    width: 96%;
    display: block;
    position: absolute;
    left: 2%;
    bottom: 0;
}
.section-sm {
    padding: 40px 0;
}
.news-item {
    margin-bottom: 40px;
}
.news-block .news-item .product-name {
    font-size: 16px;
    color: #4f4f4f;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    height: 50px;
    overflow: hidden;
}
.news-block .news-item hr {
    margin: 15px 0 20px 0;
    width: 70px;
    height: 4px;
    background: #0ebbb2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.news-block .news-item p {
    text-align: left;
    line-height: 1.1em;
    font-size: 12px;
}
.news-block .news-item img {
    width: 100%;
    height: 207px;
}
.imagewrapper {
    height: 67px;
}
.news-block .nav {
    margin: 8px 0;
}
.news-block .nav li {
    font-size: 12px;
    margin-right: 10px;
    color: #0ebbb2;
}
.news-block .nav li span {
    color: #adadad;
}
.our-works .galery-thumb {
    margin: 0 0 30px 0;
}
.our-works .galery-thumb img {
    max-width: 100%;
    margin-bottom: 0;
    height: 200px;
}
.our-works .galery-thumb .add-text {
    width: 100%;
    height: 100%;
}
.our-works .btn-more {
    padding: 7px 24px;
}
.why-we h2 {
    font-size: 26px;
}
.why-we .one-item hr {
    width: 70px;
    height: 4px;
    background-color: #0ebbb2;
    margin: 40px auto 30px;
}
.why-we .one-item p {
    text-transform: uppercase;
}
.product-info {
    border-bottom: 3px solid #dedede;
    padding: 25px 0;
}
.product-info:first-child {
    padding-top: 0;
}
.product-info table tr td {
    font-size: 18px;
}
.product-info table tr td:last-child {
    text-align: right;
    font-weight: bold;
}
.product-info table.table-price tr td:last-child {
    color: #0ebbb2;
}
.table-price {
    margin-bottom: 0;
}
.product-info table tr td.fs-30 {
    font-size: 30px;
    padding: 0;
}
.product-info table tr td.fs-40 {
    font-size: 40px;
    padding: 0;
}
.product-info .table td,
.product-info .table th {
    border: 0;
    padding-left: 0;
}
#productInfoQty,
#productCartQty {
    border-radius: 3px;
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
}
.add-to-cart .btn-more {
    padding: 7px 20px;
}
.product-block .nav.more-info li a {
    font-size: 12px;
    padding: 0 0 0 20px;
    text-decoration: underline;
    text-transform: lowercase;
}
.product-block .nav.more-info li a:hover {
    text-decoration: none;
}
.product-description .tab-content {
    background: #fff;
    padding: 35px 30px;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.31);
    position: relative;
}
.product-description .nav-tabs .nav-link {
    border: 1px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 20px 35px;
    font-size: 20px;
    color: #4f4f4f;
    text-transform: uppercase;
    background: #fff;
    margin-right: 10px;
    /*box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.31);*/
}
.product-description .nav-tabs .nav-link.active {
    position: relative;
    z-index: 1;
}
.cart-block {
    padding: 5px;
    margin-bottom: 10px;
}
.cart-block img {
    border: 2px solid #fff;
    -webkit-box-shadow: 2px 5px 12px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    2px 5px 12px 0 rgba(50, 50, 50, 0.1);
    box-shadow:         2px 5px 12px 0 rgba(50, 50, 50, 0.1);
    width: 100px;
    height: 100px;
}
.cart-block h2 {
    text-align: left;
    font-size: 20px;
    margin: 0 0 0 20px;
}
.cart-block h2:after {
    margin: 10px 0;
}
.cart-block span {
    font-size: 14px;
}
.cart-block-sku {
    margin-left: 20px;
}
.slider-text {
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: 15px 20px 40px 10px;
    background: rgba(0,0,0,.5);
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
}
.slider-text p {
    margin-bottom: 0;
}
.main-slider-text {
    font-family: 'Caveat', serif;
    font-weight: 400;
    text-align: center;
    color: #fffefe;
    padding: 15px 20px 40px 10px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
}
.main-slider-text p {
    font-size: 100px;
    line-height: 100px;
    text-shadow: 7px 0 15px rgba(255, 255, 255, 1);
}
.main-slider-text hr {
    width: 400px;
    height: 3px;
    background: #0ebbb2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.main-slider-text span {
    font-size: 30px;
    line-height: 30px;
    font-family: 'montserrat light', serif;
    font-weight: 300;
    text-shadow: 7px 0 15px rgba(255, 255, 255, 1);
}
.owl-slider .owl-prev {
    left: 50px;
    position: absolute;
    bottom: 34px;
    margin: 0;
}
.owl-slider .owl-next {
    right: 50px;
    position: absolute;
    bottom: 34px;
    margin: 0;
}
.owl-slider .owl-next:hover,
.owl-slider .owl-prev:hover,
.owl-partners .owl-prev:hover,
.owl-partners .owl-next:hover {
    background: transparent !important;
}
.btn-down-quest {
    margin: -35px 0 0 0;
    position: relative;
    z-index: 2;
}
.btn-down-quest .btn-more {
    padding: 7px 40px;
    position: relative;
    z-index: 3;
}
.pd-10 {
    padding: 10px;
}
.prices .table td,
.shipment .table td {
    border-top: 2px solid #ededed;
}
.prices .table tr:first-child td,
.shipment .table tr:first-child td {
    border-top: 0;
}
.prices .table td:first-child,
.shipment .table td:first-child {
    border-right: 2px solid #ededed;
}
.shipment .table td:last-child {
    border-left: 2px solid #ededed;
}
.owl-partners.owl-carousel .owl-item img {
    width: auto;
}
.owl-partners .owl-next {
    position: absolute;
    top: 30%;
    right: 0;
}
.owl-partners .owl-prev {
    position: absolute;
    top: 30%;
    left: 0;
}
.owl-partners .owl-stage-outer {
    width: 95%;
    margin: 0 auto;
}
.sku {
    font-size: 18px;
    color: #4f4f4f;
}
.cart-wrapper {
    border-bottom: 2px solid #dedede;
}
.dop-info a {
    font-size: 12px;
}
#side-nav.translate .child-nav {
    float: none;
    position: absolute;
    right: 0;
    top: 35px;
    width: 130px;
    height: 100%;
    border-left: 1px solid #fff;
    padding-left: 30px
}
.child-nav a {
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat bold', serif;
    padding: .7rem 1rem .7rem 0;
}
#side-nav {
    color: #fff;
    position: fixed;
    z-index: 4;
    bottom: 0;
    top: 85px;
    padding: 15px;
    width: 340px;
    background: rgba(0,0,0,.5);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-341px);
}
#side-nav.translate {
    width: 440px;
}
#side-nav ul.nav {
    margin-bottom: 15px;
    border-bottom: 2px solid #0ebbb2;
}
.visible.parent {
    width: 450px;
}
.visible.parent .nav {
    display: block;
}
.child-nav {
    float: right;
    padding: 0;
    list-style: none;
    margin: -30px 0 0;
}
#side-nav a.nav-link {
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat bold', serif;
    padding: .7rem 1rem .7rem 0;
}
#side-nav a.nav-link:hover {
    color: #0ebbb2;
}
#side-nav.visible {
    transform: translateX(0);
}
.close-button {
    color: #fff;
    width: 250px;
}
#side-nav-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    opacity: .1;
    visibility: hidden;
    z-index: 2;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateZ(0);
}
#side-nav-mask.visible {
    transition-delay: 0;
    visibility: visible;
    opacity: 1;
}
.pos-r {
    position: relative;
}
.btn-close {
    position: absolute;
    left: -85px;
    border: 0;
    top: -5px;
    width: 85px;
    height: 85px;
    background: #0ebbb2;
    color: #fff;
    font-size: 44px;
    cursor: pointer;
    -webkit-box-shadow: 2px 5px 12px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    2px 5px 12px 0 rgba(50, 50, 50, 0.2);
    box-shadow:         2px 5px 12px 0 rgba(50, 50, 50, 0.2);
}
.btn-down-view {
    margin: 0 auto;
}
.btn-down-view a {
    position: absolute;
    bottom: -30px;
    padding: 0;
    z-index: 1;
    width: 55px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
@media screen and (max-width: 767px) {
    .main-content h2,
    .main-content h3 {
        font-size: 20px;
    }
}
@media screen and (max-width: 566px) {
    .our-works .btn-more {
        padding: 7px 24px;
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0 !important;
    }
    .our-works .galery-thumb img {
        width: 100%;
        height: auto;
    }
    .btn-close {
        position: relative;
        left: 0;
        width: 100%;
    }
}
.counter-slide a {
    color: #4f4f4f;
    padding: 5px;
}
.counter-slide a:hover {
    color: #0ebbb2;
}